.container {
  display: flex;
  flex-direction: column;
  width: 125px;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.text {
  color: gray;
}

.icon {
  border-radius: 20px;
  width: 32px;
  height: 32px;
}
