ul {
  list-style-type: none;
}

h2 + ul li {
  text-decoration: underline;
}

ul li {
  padding: 5px;
}

h1 + ul li {
  font-style: italic;
}

h1 + ul li ~ li {
  color: gray;
  font-style: normal;
}

h3 + ul li ~ li {
  color: blue;
}
