* {
  font-family: sans-serif;
}

.header_border--dashedgreen {
  border: 3px dashed green;
}

.header_paragraph--bluelinethrough {
  color: blue;
  text-decoration: line-through;
}

.header_paragraph--alignright {
  text-align: right;
}

.header_border--solidcoral {
  border: 2px solid coral;
}

.header_title--center {
  text-align: center;
}
